    /* used colors */
    :root{
        --red : red;
        --crimson : rgb(32, 41, 41);
        --blue : blue;
        --darkblue : darkblue;
        --orange : orange;
        --black : black;
        --grey : grey;
        --ccc : #ccc;
        --white : white;
        --brown : brown;
        --green : green;
        --lime : lime;
    }